script(type='text/javascript', src='/scripts/jquery.js')
script(type='text/javascript', src='/users/model.js')
h1= title
p= 'Welcome to ' + title
script
  $(document).ready(function() {
  var user = new User(1, 'adam');
  alert(user.is_valid());
  User.get_by_id(1).then(
    function(d) { 
      alert('success: ' + d.name); 
      console.log(d.save);
      d.name = 'update this2';
      d.save().then(function(a) {
        alert('good: ' + a.id);
        User.match({id: 2}).then(function(matches) {
            alert('nice! ' + matches.map(function(m) { return m.name; }).join(', '));
        }).fail(function(f) { alert('bad: ' + f); });
      }).fail(function(f) { alert('bad: ' + f);});
    }
  ).fail(
    function(d) { 
      alert('fail: ' + $.param(d)); 
    }
  );
  });
