- var incs = [jqueryInclude].concat(Object.keys(additionalIncludes))
- var args = ['jquery'].concat(Object.keys(additionalIncludes).map(function(k) { return additionalIncludes[k]; }))
|define(['#{incs.join("','")}'], function(#{args.join(',')}) {
!= main_obj
| 
- each instance_function in connected_instance_functions
  != main_obj_name + ".prototype['" + instance_function + "'] = function() {"
  != partial('post_jquery', {url: routes[instance_function]})
  |    };

| 
- each static_function in connected_static_functions
  != main_obj_name + "['" + static_function + "'] = function() {"
  != partial('get_jquery', {url: routes[static_function]})
  |    };

| 
|return #{main_obj_name};
|});
