|  var urlArgs = [''].concat(
|    $.map(arguments, function(arg) {
|        return encodeURI(JSON.stringify(arg));
|      }
|    )
|  );
|  urlArgs = urlArgs.join('/');
|  var promise = new $.Deferred();
|  var modelize = function(obj) { 
|    var modelObjConstructor = function(){}; 
|    modelObjConstructor.prototype = #{main_obj_name}.prototype; 
|    var modelObj = new modelObjConstructor();
|    for ( var key in obj ) { 
|       if ( obj.hasOwnProperty(key) ) {
|           modelObj[key] = obj[key]; 
|       }
|    } 
|    return modelObj; 
|  };
|  $.ajax({url: '#{url}' + urlArgs, type: 'GET'})
|  .done(function(data) { 
|      if ( $.isArray(data) ) { promise.resolveWith(null, [$.map(data, function(datum){return modelize(datum);})]); } 
|      else if ( /*isString*/data.length && data.substring ) { promise.resolveWith(null, [data]); }
|      else if ( 'object' === typeof(data) ) { promise.resolveWith(null, [modelize(data)]); }
|      else { promise.resolveWith(null, [data]); }
|    }
|  )
|  .fail(function() { promise.rejectWith(arguments); });
|  return promise.promise();
