%script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js'}
%script{type: 'text/javascript', src: '/users/model.js'}
%h1= title
%p= 'Welcome to ' + title
:javascript
  var user = new User(1, 'adam');
  alert(user.is_valid());
  User.get_by_id(1).success(
    function(d) { 
      alert('success: ' + $.param(d)); 
      d.prototype = User.prototype;
      user.save(); 
    }
  ).error(
    function(d) { 
      alert('fail: ' + $.param(d)); 
    }
  );
