script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js')
script(type='text/javascript', src='/users/model.js')
h1= title
p= 'Welcome to ' + title
script
  $(document).ready(function() {
  var user = new User(1, 'adam');
  alert(user.is_valid());
  User.get_by_id(1).then(
    function(d) { 
      alert('success: ' + d.name); 
      d.save().then(function(a) {
        alert('good: ' + a);
      }).fail(function(f) { alert('bad: ' + f);});
    }
  ).fail(
    function(d) { 
      alert('fail: ' + $.param(d)); 
    }
  );
  });
