|  var urlArgs = [''].concat(
|    Array.prototype.map.call(
|      arguments,
|      function(arg) {
|        return encodeURI(arg);
|      }
|    )
|  );
|  urlArgs = urlArgs.join('/');
|  var promise = $.ajax({url: '#{url}' + urlArgs, data: JSON.stringify(this), processData: false, type: 'POST', contentType: 'application/json'}).pipe(function() { /*success*/ return $.Deferred().resolveWith(this, #{main_obj_name}.fromJSON.apply(null, arguments)); });
|  promise.success = promise.done;
|  promise.fail = promise.error;
|  return promise;
