|  var urlArgs = [''].concat(
|    $.map(arguments, function(arg) {
|        return encodeURI(arg);
|      }
|    )
|  );
|  urlArgs = urlArgs.join('/');
|  return $.ajax({url: '#{url}' + urlArgs, data: JSON.stringify(this), processData: false, type: 'POST', contentType: 'application/json'});
